### Recommendations Rank & Knowledge Based:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

In [2]:
reviews.head()

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [3]:
reviews.shape

(712337, 23)

In [4]:
movies.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,10,La sortie des usines LumiÃ¨re (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [5]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    ranked = reviews.groupby('movie_id').mean('rating')
    ranked['rating_count'] = np.zeros((ranked.shape[0]))
    ranked['rating_count'] = reviews.groupby('movie_id').count()
    ranked.sort_values(['rating', 'rating_count', 'timestamp'], ascending=False, inplace=True)
    ranked = ranked[ranked.rating_count >= 5]
    top_n = ranked.head(n_top)
    top_movies = top_n.join(movies.set_index('movie_id'), how='inner').movie
    
    return top_movies.to_list()

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [6]:
# Top 20 movies recommended for id 1
recs_20_for_1 = popular_recommendations('1', 20)

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations('53968', 5)

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations('70000', 100)

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations('43', 35)

In [7]:
recs_20_for_1

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Akahige (1965)',
 'KÃ¶rkarlen (1921)']

In [8]:
recs_5_for_53968

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)"]

In [9]:
recs_100_for_70000

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Akahige (1965)',
 'KÃ¶rkarlen (1921)',
 'Tengoku to jigoku (1963)',
 'Kirik Party (2016)',
 'Chasing Asylum (2016)',
 'Beyond the Sea (2004)',
 'Blood Brother (2013)',
 'Poshter Girl (2016)',
 'The Adventures of Robin Hood (1938)',
 'Umberto D. (1952)',
 'Bridegroom (2013)',
 'No Stone Unturned (2017)',
 'Mad As Hell (2014)',
 'Nashville (1975)',
 'The Shawshank Redemption (1994)',
 'A Matter of Life and Death (1946)',
 'Cyborgs: Heroes Never Die (2017)',
 'Presto (2008)',
 'Everything or Nothing: The Untold Story of 007 (2012)',
 'Dag II (2016)',
 'The Lord of the Rings: The Return of the King (2003)',
 'SanshÃ´ dayÃ» (1954)',
 "Hillary's America: The Secret History of the Democratic Party (2016)",
 'Seppuku (1962)',
 'Chasing Coral (2017)',
 'The Phantom of the Opera at the Royal Albert Hall (2011)',
 'Terra (2015)',
 'Hidden Colors (2011)',
 'Berserk: Ohgon jidai hen 3 - KÃ´rin (2013)',
 'Men at Lunch (2012)',
 'The Dark Knight (2008)',
 'Andaz Apna Apna (1994)',
 'Przypadek (1987)',
 "La passion de Jeanne d'Arc (1928)",
 'Jalsaghar (1958)',
 'Ayla: The Daughter of War (2017)',
 "Bab'Aziz (2005)",
 'Notre musique (2004)',
 'The Decline of Western Civilization (1981)',
 'A Face in the Crowd (1957)',
 'Kites (2010)',
 'Lakshya (2004)',
 'Southern Comfort (1981)',
 'Who is Dayani Cristal? (2013)',
 'Zinda Bhaag (2013)',
 '12 Angry Men (1957)',
 'Taare Zameen Par (2007)',
 'Night Will Fall (2014)',
 'Nema-ye Nazdik (1990)',
 'Hitting the Apex (2015)',
 'Advise & Consent (1962)',
 'To Be or Not to Be (1942)',
 'Le notti di Cabiria (1957)',
 'Colombia magia salvaje (2015)',
 'Ma nuit chez Maud (1969)',
 'The Message (1977)',
 'Moskva slezam ne verit (1979)',
 'Aparajito (1956)',
 'Apur Sansar (1959)',
 'Shelter (2007)',
 'The Godfather: Part II (1974)',
 'Amadeus (1984)',
 'Terminator 2: Judgment Day (1991)',
 'Letyat zhuravli (1957)',
 'Messi (2014)',
 "It's a Wonderful Life (1946)",
 'I Believe in Miracles (2015)',
 'Umut (1970)',
 'Dai-bosatsu tÃ´ge (1966)',
 'Le trou (1960)',
 'Roger Waters the Wall (2014)',
 'Cowboy Bebop: Tengoku no tobira (2001)',
 'Ordet (1955)',
 'Wild Wild Country (2018)',
 'Il buono, il brutto, il cattivo. (1966)',
 'Forrest Gump (1994)',
 'The Green Mile (1999)',
 "Schindler's List (1993)",
 'The Godfather (1972)',
 'Bajrangi Bhaijaan (2015)',
 'Ikiru (1952)',
 "One Flew Over the Cuckoo's Nest (1975)"]

In [10]:
recs_35_for_43

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Akahige (1965)',
 'KÃ¶rkarlen (1921)',
 'Tengoku to jigoku (1963)',
 'Kirik Party (2016)',
 'Chasing Asylum (2016)',
 'Beyond the Sea (2004)',
 'Blood Brother (2013)',
 'Poshter Girl (2016)',
 'The Adventures of Robin Hood (1938)',
 'Umberto D. (1952)',
 'Bridegroom (2013)',
 'No Stone Unturned (2017)',
 'Mad As Hell (2014)',
 'Nashville (1975)',
 'The Shawshank Redemption (1994)',
 'A Matter of Life and Death (1946)',
 'Cyborgs: Heroes Never Die (2017)']

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History', 'Comedy'])
```

In [11]:
def popular_recommendations_filtered(user_id, n_top, years=[], genres=[]):
    years = [ int(x) for x in years ]
    ranked = reviews.groupby('movie_id').mean('rating')
    ranked['rating_count'] = np.zeros((ranked.shape[0]))
    ranked['rating_count'] = reviews.groupby('movie_id').count()
    ranked.sort_values(['rating', 'rating_count', 'timestamp'], ascending=False, inplace=True)
    ranked = ranked[ranked.rating_count >= 5]
    top_n = ranked.head(n_top)
    top_movies = top_n.join(movies.set_index('movie_id'), how='inner')
    if len(years) != 0:
        top_movies = top_movies[top_movies.date.isin(years)]
    if len(genres) != 0:
        top_movies["genre"] = top_movies["genre"].str.split("|")
        genres_set = set(genres)
        exclude = []
        for index, row in top_movies.iterrows():
            intersection = genres_set.intersection(row['genre'])
            if len(intersection) == 0:
                exclude.append(index)
        include = set(top_movies.index.to_list()) - set(exclude)
        top_movies = top_movies.loc[list(include)]
    
    return top_movies.movie.to_list()

In [12]:
popular_recommendations_filtered('1', 20)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'Crawl Bitch Crawl (2012)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Third Contact (2011)',
 'Romeo Juliet (2009)',
 'Be Somebody (2016)',
 'Birlesen Gonuller (2014)',
 'Agnelli (2017)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'Shijie (2004)',
 'Foster (2011)',
 'CM101MMXI Fundamentals (2013)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 'Akahige (1965)',
 'KÃ¶rkarlen (1921)']

In [13]:
popular_recommendations_filtered('1', 20, genres=['Comedy', 'History'])

['Avengers: Age of Ultron Parody (2015)',
 'Foster (2011)',
 'MSG 2 the Messenger (2015)',
 'Sorry to Bother You (2018)',
 'Be Somebody (2016)',
 'SÃ¡tÃ¡ntangÃ³ (1994)',
 'CM101MMXI Fundamentals (2013)',
 'Birlesen Gonuller (2014)',
 'Make Like a Dog (2015)']

In [14]:
popular_recommendations_filtered('1', 20, years=['2011', '2015'])

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Make Like a Dog (2015)',
 'Third Contact (2011)',
 'Foster (2011)']

In [15]:
popular_recommendations_filtered('1', 20, years=['2011', '2015'], genres=['Comedy', 'History'])

['Avengers: Age of Ultron Parody (2015)',
 'Make Like a Dog (2015)',
 'Foster (2011)',
 'MSG 2 the Messenger (2015)']